DATABASE__HOST="localhost"
DATABASE__PORT=5432
DATABASE__USERNAME="postgres"
DATABASE__PASSWORD="postgres"
DATABASE__DATABASE="transport"

REDIS__HOST="localhost"
REDIS__PORT=6379

NDTP__HOST="0.0.0.0"
NDTP__PORT=9201

ML__URL="http://localhost:8001/predict"
